@model CoffeeShopRegistration.Models.Registration
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8">Welcome to the Coffee Shop Registration</h1>
    <!--Registration Button Will go here-->
     <p>Please click here to register a new user or in the navbar above</p>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Index">Registration</a>
    </button>
    
   
    <!--This button will take them to the Registration Page-->
</div>
