
@{
    ViewData["Title"] = "Sample";
}

<h1>Sample</h1>
<div style="font-size: 30px; color:red">
    <h2>This is our first sample view</h2>
    abc
    <i class="fa-solid fa-lock"></i>
    def

    <span style="background-color:black; padding: 3px 3px 3px 3px"><i class="fa-solid fa-calculator"></i></span>
    
</div>
