@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

   
    <div class="container mt-5">
                <br>
                         <h1 class="text-lg-center mt-5">Projects</h1>
                                  <div class="row mt-5">
                                    <div class="col-4" >
                                  
                                    <a href="https://github.com/"><img src="https://www.verywellfit.com/thmb/68y3duAfPm2C7Z8wKLkwOZp1jhc=/644x644/filters:no_upscale():max_bytes(150000):strip_icc()/612N9O5jgRL1-5b6de2e8c9e77c00256e6885.png"/></a> 
                                    </div>
                                    <div class="col-4">
                                      <a href="https://github.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsIkCq1XJ892NWdEO1mEnP9T8pXh85Him1fQ&usqp=CAU"/></a> 
                                    </div>
                                    <div class="col-4">
                                      <a href="https://github.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSdReLeTDjSn6-KVDiVMd4KJ7bE9TPxn82_g&usqp=CAU"/></a> 
                                    </div>
                                  </div>
    </div>

    <style>
                            img{
                                width: 250px;
                                height: 250px; 
                            }
                            .container {
                                max-width: 1000px; 
                                margin: auto; 
                            }

    </style>
}
