
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of Images</h1>

    <form method="post" action="/home/displaylist">
            earth_date: <input type="text" name="earth_date" /><br />
            Rover name: 
                    <select name="roverName">
                        <option>curiosity</option>
                        <option>opportunity</option>
                        <option>spirit</option>
                    </select><br /><br />
    <input type="submit" value="submit" />
    </form>


        
    
</div>
