
@{
    ViewData["Title"] = "OrderForm";
}

<h1>OrderForm</h1>

<form method="post" action="/taco/receipt">
    
    Name: <input type="text" name="Name"/><br /><br />

    Price: <input type="text" name="Price"/><br /><br />

    Calories: <input type="text" name="Calories"/><br /><br />

    <input type="submit" name="submit"/><br /><br />

</form>

