@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie List</h1>
   <a href ="/home/filmdetails/1">A New Hope</a><br />
   <a href ="/home/filmdetails/2">A New Hope</a><br />
   <a href ="/home/filmdetails/3">A New Hope</a><br />
   <a href ="/home/filmdetails/4">A New Hope</a><br />
   <a href ="/home/filmdetails/5">A New Hope</a><br />
   <a href ="/home/filmdetails/6">A New Hope</a><br />
</div>
