
@{
    ViewData["Title"] = "AddForm";
}

<h1>Add Department</h1>

<form method="post" action="/department/add">
    ID: <input type="text" name="id" /><br />
    Name: <input type="text" name="name" /><br />
    Location: <input type="text" name="location" /><br />
    <input type="submit" value="Save"/>
</form>