@model Instrument
@{
    ViewData["Title"] = "Add";
}

<h1>New Instrument Added:</h1>

Model: @Model.Model<br />
Model Type: @Model.Type<br/>
Model Price: $@Model.Price<br />
Model Color: @Model.Color<br/>
Model Year: @Model.Year<br />