@model Instrument
@{
    ViewData["Title"] = "ShowForm";
}

<h1>Add new Instrument</h1>

<form method="post" action="/inst/add">
    Type: <select name="Type">
            <option>Piano</option>
             <option>Electric Guitar</option>
              <option>Synth</option>
               <option>Trumpet</option>
           </select><br /><br />

    Model: <input type="text" name="Model" /> <span asp-validation-for="Model" class="text-danger"></span><br /><br />
    

    Color: <select name="Color">
            <option>Black</option>
             <option>White</option>
              <option>Red</option>
               <option>Green</option>
               <option>Blue</option>
               <option>Yellow</option>

           </select><br />

    Year: <input type="text" name="Year" /><span asp-validation-for="Year" class="text-danger"></span> <span style="color:red; font-weight:bold">@ViewBag.YearMessage</span>
    <br /><br /> 
   


    Price: <input type="text" name="Price"/><span style="color:red; font-weight:bold" asp-validation-for="Price" class="text-danger"></span><span style="color:red; font-weight:bold">@ViewBag.PriceMessage</span>
    <br /><br /> 


    <input type="submit" name="submit"/><br /><br />
</form>
