@model CoffeeShopRegistration.Models.Registration

@{
    ViewData["Title"] = "Summary"; 
}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <p>Welcome @Model.FirstName @Model.LastName</p>
    </div>
</div>