@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click below to add your pet</p>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddPet">Add Pet</a>
    </button>
</div>
