@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
        <a href="/teammember/addmember" class="btn btn-success">Click here to RSVP</a>
    
        <a href="/dish/adddish" class="btn btn-info">Bring a Dish</a>

        <a href="/dish/index" class="btn btn-info">See All Dishes</a>
   <!--Add another link to see all dishes-->
</div>
